/* main container that keeps everything together */
.container {
    /* height: 100vh; */
    max-width: 100%;
    width: 100%;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* separate div were everything is nested inside of */
.contents {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    max-width: 1280px;
}
.contents > div {
    width: 100%;
}

/* mainPresentation for image and welcome text */
.mainPresentation {
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 10vh;
}
/* Explanation: the reason between the separate paddings is so that when screen 
is smaller than max width, there is still a padding on each side rather than none */
.mainPresentation > div {
    height: 100%;
    padding: 0px 1.5%;
}


/* styling for text */
.messageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.messageContainer > div > .title {
    font-family: var(--font-cursive);
    font-size: 4.5vh;
    text-shadow: 2px 2px var(--color-green-5);
    line-height: 1.25em;
}
.messageContainer > div > .titleLegend {
    font-weight: 600;
    font-size: 2vh;
}
.messageContainer > div > .formContainer {
    padding-top: 2vh;
    
}
.form > label {
    display: flex;
}
/* styling for form were user types a thing to look up */
.form > label > input {
    padding: 10px;
    border-radius: 100px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    /* border: 2px solid var(--color-green-5); */
    border: 0px;
    box-shadow: -3px 3px 10px rgb(0 0 0 / 0.2);

}
.form > label > button {
    border-radius: 100px;
    border: 2px solid var(--color-green-5);
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 10px;
    background-color: var(--color-green-5);
    font-weight: 600;
    box-shadow: -3px 3px 10px rgb(0 0 0 / 0.2);
    color: white;
}



/* styling for messageIcons on the bottom of message container */
.messageIcons {
    position: absolute;
    height: 10vh;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
.messageIcons > div {
    height: 9vh;
    width: 9vh;
    border-radius: 1000px;
    background-color: blue;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: -3px 3px 10px rgb(0 0 0 / 0.2);
    outline: 3px solid var(--color-background-0);
}
/* messageIcons individual styling */
.messageIcons > .one {
    background-color: blueviolet;
    background-image: url('../../Assets/Images/img-faces-users/one.jpg');

}
.messageIcons > .two {
    background-color: cornflowerblue;
    background-image: url('../../Assets/Images/img-faces-users/two.jpg');
    right: 1vh;
}
.messageIcons > .three {
    background-color: lightcoral;
    background-image: url('../../Assets/Images/img-faces-users/three.jpg');
    right: 2vh;
}
.messageIcons > .button {
    border-radius: 100px;
    border: 2px solid var(--color-green-5);
    border-left: none;
    padding: 10px;
    background-color: var(--color-green-5);
    font-weight: 600;
    box-shadow: -3px 3px 10px rgb(0 0 0 / 0.2);
    color: white;
    height: 3vh;
    width: auto;
    font-size: 1.5vh;
    display: flex;
    align-items: center;
    outline: none;
    text-align: center;
}




/* last night: stayed on adding css to the form and button to submit the search for recepies:
https://dribbble.com/shots/19558981-CELLA-AGRICULTURE-Website-Design */








/* styling for image */
.imageContainer {
    display: none;
    align-items: center;
}
.image {
    background-image: url('../../Assets/Images/letuce-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 70%;
    width: 60%;
    border-bottom-left-radius: 7em;
    border-bottom-right-radius: 1.5em;
    border-top-left-radius: 6em;
    border-top-right-radius: 6em;
}
.image > .imageCircle{
    background-color: var(--color-yellow-6);
    height: 12vh;
    width: 12vh;
    border-radius: 1000px;
    position: absolute;
    left: -12%;
    bottom: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-cursive);
    font-size: 3.25vh;
}
.image > .imageStars {
    position: absolute;
    left: -5%;
    top: 0%;
    transform: rotate(-25deg);
}





/* Page content */
.pageContent {
    border: 1px solid red;
    background-color: var(--color-beige-1);
    border-radius: 1em;
    border-bottom-right-radius: 0px;
    height: 80vh;
    margin: 10vh 0vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}




@media screen and (min-width: 768px) {
    /* from display none */
    .imageContainer {
        display: flex;
    }
    .mainPresentation {
        grid-template-columns: 1fr 1fr;
    }
}